@import '../../../../styles/variables';

.form__errors {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;

  p {
    margin: 0;
    color: $danger-color;
    font-size: 13px;
    width: 300px;
    max-width: 100%;
  }

  p:not(:first-child) {
    display: none;
  }
}
