<div class="form__errors">
  <p *ngIf="control.touched && control?.hasError('required')"> Обязательное поле </p>
  <p *ngIf="control.touched && control?.hasError('pattern')"> Шаблон не валидный </p>
  <p *ngIf="control.touched && control?.hasError('minlength')"> Нужно больше символов </p>
  <p *ngIf="control.touched && control?.hasError('maxlength')"> Нужно меньше символов </p>
  <p *ngIf="control.touched && control?.hasError('patternEmail')"> Неверный формат email </p>
  <p *ngIf="control?.hasError('passwordMatch')"> Пароли не совпадают </p>
</div>
