
<h5 class="center" *ngIf="news?.length === 0">
    Нет сообщений, удовлетворяющих выбранным условиям поиска.
</h5>

<ng-container *ngFor="let singleNews of news">
    <lt-news-item [singleNews]="singleNews"
                  (deleteNews)="filterNews($event)"
                  [isNewsDetailOpen]="currentActiveNews === singleNews.id"
                  (toggleEventEmitter)="toggleEventEmitter($event)"></lt-news-item>
</ng-container>
