<mz-modal [bottomSheet]="true" id="addPostModal" class="add-post-modal">
    <mz-modal-content class="row">
        <h5 class="center">Добавить новый пост</h5>

        <div class="add-new-post-buttons col s12 m12 l6 offset-l3">
            <ul>
                <li>
                    <button class="btn-floating btn-large waves-effect waves-light"
                            [ngClass]="activeType === 'advert' ? 'cobalt' : 'green'"
                            (click)="changeActiveType('advert')"
                            title="Добавить объявление">
                        <i class="fa fa-bullhorn"></i>
                    </button>
                </li>
                <li>
                    <button class="btn-floating btn-large waves-effect waves-light"
                            [ngClass]="activeType === 'poll' ? 'cobalt' : 'green'"
                            (click)="changeActiveType('poll')"
                            title="Добавить опрос">
                        <i class="fa fa-tasks"></i>
                    </button>
                </li>
                <li>
                    <button class="btn-floating btn-large waves-effect waves-light"
                            [ngClass]="activeType === 'event' ? 'cobalt' : 'green'"
                            (click)="changeActiveType('event')"
                            title="Добавить событие">
                        <i class="fa fa-users"></i>
                    </button>
                </li>
            </ul>
        </div>

        <div class="add-new-post-content col s12 m12 l6 offset-l3">

            <lt-advert-form *ngIf="activeType === 'advert'"></lt-advert-form>
            <lt-poll-form *ngIf="activeType === 'poll'"></lt-poll-form>
            <lt-event-form *ngIf="activeType === 'event'"></lt-event-form>

        </div>

    </mz-modal-content>
</mz-modal>