@import "../../../styles/variables";

.add-post-modal {
  .modal-content {
    overflow: hidden;
  }
}

.add-new-post-buttons {
  text-align: center;
  ul {
    margin: 0;
    padding: 0 0 10px 0;
    li {
      display: inline-block;
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

h5 {
  margin-bottom: 25px;
}

.add-new-post-content {
  .poll-header {
    padding-top: 15px;
  }
  .poll-content {
    .private-poll-type {
      margin-top: 15px;
    }
    .add-answer-botton {
      margin: 30px 0 0 0;
      text-align: center;
      &:hover {
        color: $secondary-color;
        cursor: pointer;
      }
    }
    ul {
      li {
        a {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}