.modal h5 {
  width: 100% !important;
  font-size: 25px !important;
}

.modal.branded-modal {
  .modal-actions {
    text-align: right;
    padding: 0 24px 24px;

    .btn:last-child {
      margin-left: .5em;
    }
  }
}

.modal-confirm {
  max-width: 40em;
}
