.avatar-circle {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.popup-responsive-img {
    width: 10%;
    min-width: 50px;
    min-height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
}