@import "../variables";

.input-field {

  input {
    &.ng-invalid.ng-dirty {
      color: $danger-color;
      border-bottom: 1px solid $danger-color;
      box-shadow: 0 1px 0 0 $danger-color;
      & ~ label {
        width: 100%;
      }
    }
  }

  .prefix {
    top: 10px;
  }

  div.invalid {
    //font-size: 1rem!important;
    color: $danger-color!important;
  }
}

  .textarea-with-icon div.invalid, .input-with-icon div.invalid {
    margin-left: 3rem;
  }
