@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

header {
  background-color: $primary-color;
  padding: 10px 0;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  @include shadow;

  .logo {
    display: inline-block;
    a {
      display: inline-block;
      margin-top: 8px;
    }
    img {
      max-height: 50px;
    }
  }

  .side-menu-toggle {
    margin-top: 20px;
  }

  @media only screen and (min-width: 993px) {
    .hide-on-large-only {
      display: none!important;
    }
  }
}

