<header>
    <div class="container">
        <div class="row">
            <div class="logo col l2 m2 s5">
                <a routerLink="/news">
                    <img class="img-responsive" [src]="imgPath+'logo.png'" alt="Light IT"/>
                </a>
            </div>
            <div class="header-user col l10 m10 s7" *ngIf="isAuthorized">
                <a  [id]="'sideNavBtn'"
                    class="white-text
                    side-menu-toggle
                    right
                    hide-on-large-only"   >
                        <i class="material-icons">menu</i>
                </a>
                <lt-nav (logout)="logout()"></lt-nav>
            </div>
        </div>
    </div>
</header>

<!--TODO: вынести в компонент mobile-menu, удачи с ng2-materialize -->
<mz-sidenav
        [id]="'sideNav'"
        edge="right"
        [closeOnClick]="true"
        *ngIf="isAuthorized"
        [collapseButtonId]="'sideNavBtn'">
    <div class="userView">
        <a>
            <img class="circle"
                 [src]="imgPath + 'cam.png'">
        </a>
    </div>
    <mz-sidenav-link>
            <a ui-sref="pages.personalPlan({id:$ctrl.user.id})" ui-sref-opts="{reload: true}">
                Мой ИПР
            </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a ui-sref="pages.vacation" ui-sref-opts="{reload: true}">
            Мои отпуска
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a
            ng-if="$ctrl.permission.hasOwnProperty('trust_box_read') && $ctrl.user.is_approved"
            ui-sref="pages.trustbox"
            title="Cкринька довiри">Письма доверия
        <!--Скринька довiри-->
            <span class="badge-inline blue lighten-1"
                  ng-if="$ctrl.trustboxCounter">
    <!--{{ $ctrl.trustboxCounter }}-->
            </span>
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a
                ng-if="!$ctrl.permission.hasOwnProperty('trust_box_read') && $ctrl.user.is_approved"
                ng-click="$ctrl.openTrustBoxModal()">
            Письмо доверия
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a ui-sref="pages.personalPlanList">Список всех ИПР</a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a ui-sref="pages.about" ui-sref-opts="{reload: true}">
            История компании </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a ui-sref="pages.staff" ui-sref-opts="{reload: true, inherit:false}">
            Сотрудники
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a ui-sref="pages.calendar" ui-sref-opts="{reload: true}">
            Дни рождения
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a href="http://locator.light-it.loc/" target="_blank">
            Где кто
        </a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
        <a ui-sref="pages.life" ui-sref-opts="{reload: true}">
            Жизнь Light IT
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a ui-sref="pages.mentorship" ui-sref-opts="{reload: true}">
            Таблица ответственности
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a ui-sref="pages.admin" ui-sref-opts="{reload: true}">
            Админ панель
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a ui-sref="pages.vacationAdmin({datePoint: '', application: ''})" ui-sref-opts="{reload: true}">
            Админ панель отпусков
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a routerLink="/mission">
            Цель и миссия
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a routerLink="/inform">
            Информация для новичка
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a routerLink="/dev-codex">
            Кодекс разработчика
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a routerLink="/rules">
            Правила
        </a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>

    <mz-sidenav-link>
        <a href="#" (click)="closeSideNav($event)" class="btn red">
            Выйти
        </a>
    </mz-sidenav-link>
</mz-sidenav>

<!--<lt-mobile-menu id="sideNav"-->
                <!--#sidenav-->

                <!--class="side-nav"-->
                <!--*ngIf="isAuthorized"></lt-mobile-menu>-->