@import '~sass-mediaqueries/_media-queries';

@import '../../../styles/variables';
@import '../../../styles/mixins';

.event {
  @include shadow;
  display: inline-block;
  margin-bottom: 10px;
  width: calc(100%);
  &.removed {
    cursor: pointer;
    .event-title, .event-title--author {
      width: initial;
    }
  }
  .event-header {
    float: left;
    width: 100%;
  }

  .mobile-title {
    width: 100%;
    float: left;
    blockquote {
      padding-right: 1rem;
      word-wrap: break-word;
    }
  }


  &.short-event {
    .event-ico {
      padding-top: 10px;
      &:hover {
        cursor: pointer;
      }
    }

    .title {
      font-weight: 700;
      display: inline-block;
      float: left;
      width: calc(100% - 285px);
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        cursor: pointer;
      }
      &-remind{
        width: calc(100% - 70px);
      }
    }

    span.badge {
      &:hover {
        cursor: pointer;
      }
    }

    .event-content {
      animation: wipe-out 0s forwards;

      & * {
        display: none;
      }
    }

    .event-title {
      width: calc(100% - 275px);
    }

    .disabled-comments {
      //pointer-events: none;
      opacity: .4;
      cursor: default;
    }
  }

  &.hot {
    background: $pink!important;
  }

  &.readed {
    .title {
      font-weight: normal;;
    }
    .event-title--author {
      font-weight: normal;
    }
  }

  .event-ico {
    width: 50px;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    color: $black;
    font-size: 1.5em;
    &:hover {
      cursor: pointer;
    }
  }

  .event-title {
    float: left;
    min-height: 30px;
    overflow: hidden;
    padding: 10px 5px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 275px);
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &--author {
      display: inline-block;
      float: left;
      font-weight: 700;
      width: 200px;
      overflow: hidden;

    }

    span.new-message {
      margin-right: 5px;
    }

    span:first-of-type {
      margin-right: 15px;
    }
  }
  .event-date {
    float: left;
    min-height: 30px;
    padding: 10px 5px 5px;
    white-space: nowrap;
    width: 110px;
    text-align: center;
    font-size: 10px;
    line-height: 24px;
  }

  .event-controls {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    width: 115px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      white-space: nowrap;
      float: right;

      li {
        display: inline-block;
        margin-left: 5px;
        position: relative;

        .edit-event-menu {
          padding: 0;
          margin: 0 10px 0 0;
          width: auto;
          overflow: hidden;
          top: 0;
          right: 0;
          position: absolute;
          z-index: 2;
          list-style: none;
          white-space: nowrap;
          background-color: #fff;
          @include shadow;

          li {
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
            margin-left: 0;

            a {
              color: $black;
              text-decoration: none;
            }

            &:hover {
              background-color: $white;
            }
          }
        }

        &:hover {
          cursor: pointer;
        }

        i {
          font-size: 16px;
        }
      }
    }
  }

  .event-content {
    float: left;
    //transition-duration: .35s;
    margin-left: 55px;
    padding-bottom: 15px;
    width: calc(100% - 100px);

    .voted_users {
      img {
        width: 10%;
        margin-right: 10px;
      }
    }
  }
}