<div class="event"
     *ngIf="!singleNews.was_removed"
     [ngClass]="{'readed': singleNews?.is_readed, 'short-event': !isNewsDetailOpen}">
    <div class="event-header">
        <i class="fa event-ico " [ngClass]="singleNews?.message?.content_object?.icon" aria-hidden="true"></i>

        <div class="event-title" (click)="toggleEvent(singleNews?.id)">
            <span class="event-title--author hide-on-small-only">
                {{ singleNews?.message?.author?.fullName }}
            </span>
            <span *ngIf="!isNewsDetailOpen"
                  [ngClass]="{'title-remind': singleNews?.message?.message_type === 'remind'}"
                  class="title hide-on-med-and-down">
                {{ singleNews?.message?.title}}
            </span>
            <span class="new badge red hide-on-small-only"
                  *ngIf="singleNews?.message?.is_actual && singleNews?.message?.content_object?.is_important"
                  data-badge-caption="важное">
            </span>
            <!--&& !singleNews?.message?.is_actual-->
            <span class="new badge green new-message hide-on-small-only"
                  *ngIf="!singleNews?.is_readed"
                  data-badge-caption="новое">
            </span>
        </div>

        <div class="event-date">
            <span>{{ singleNews?.message?.create_dt }}</span>
        </div>

        <div class="event-controls">
            <ul>
                <li class="event-comments">
                    <span *ngIf="singleNews?.message?.comments_count > 0 ">
                      {{ singleNews?.message?.comments_count }}
                    </span>
                    <i class="fa"
                       (click)="toggleComments(singleNews?.id)"
                       aria-hidden="true"
                       [ngClass]="[isVisibleComments ? 'fa-comments' : 'fa-comments-o', (!singleNews?.is_readed && !isNewsDetailOpen) ? 'disabled-comments' : '']">
                    </i>
                    <!--ng-class="{'disabled-comments': $ctrl.short && !$ctrl.readed}"-->
                </li>
                <li class="event-favorite">
                    <i  (click)="changeFavorite(!singleNews?.is_favorite, singleNews.id)"
                        [class]="singleNews?.is_favorite ? 'fa fa-star' : 'fa fa-star-o'" aria-hidden="true"> </i>
               </li>
                <!-- TODO: add staff permission group -->
                <li class="event-menu" *ngIf="(singleNews?.message?.author?.id === user?.id)">
                  <!--|| $ctrl.user.user.is_staff">-->
                    <lt-remove-news-btn (answer)="receiveChoice($event)"></lt-remove-news-btn>
                </li>
            </ul>
        </div>


        <div *ngIf="!isNewsDetailOpen"
             (click)="toggleEvent(singleNews?.id)"
             class="mobile-title hide-on-large-only">
            <span class="ltp-badge red white-text right hide-on-med-and-up"
                  *ngIf="singleNews?.message?.is_actual && singleNews?.message?.content_object?.is_important">важное</span>
            <span class="ltp-badge green white-text right
                    new-message hide-on-med-and-up"
                  *ngIf="!singleNews?.is_readed && !singleNews?.message?.is_actual">новое</span>
            <blockquote>
                <span class="hide-on-med-and-up">
                  <b>От:</b>
                  {{ singleNews?.message?.author?.fullName }}
                </span>
                <br class="hide-on-med-and-up" />
                <b>Тема: </b> {{ singleNews?.message?.title }}
            </blockquote>
        </div>
    </div>

    <lt-detail class="event-content" [news]="singleNews" [isVisibleComments]="isVisibleComments"></lt-detail>
</div>

<div class="event orange removed"
     (click)="removeNews()"
     *ngIf="singleNews.was_removed">
    <div class="event-header">
        <i [class]="'fa event-ico '+ singleNews?.message?.content_object?.icon"
           aria-hidden="true"></i>
        <div class="event-title">
        <span class="event-title--author">
          <b>Сообщение удалено. Нажмите что бы скрыть.</b>
        </span>
        </div>
    </div>
</div>
