<div class="comments">
    <!--<lt-loader [isVisible]="isVisibleLoader"></lt-loader>-->
    <b>Комментарии</b>

    <lt-comments-list [comments]="comments" [messageId]="messageId" (deleteCommentEvent)="deleteCommentFromList($event)"></lt-comments-list>

    <lt-comments-form [messageId]="messageId" (addCommentEvent)="addCommentToList($event)"></lt-comments-form>
</div>
