<lt-header></lt-header>

<div class="main-content">
    <div class="container">
        <div class="row">
            <h6 class="temporary-notification">Cтраница "Доступные ИПР" находится в разработке.</h6>
        </div>
    </div>
</div>