.confirm-container {
    padding: 10px 8px;
    font-size: 1rem;
    z-index: 22;
    font-family: 'Roboto', sans-serif;
    background-color: #323232;
    border-radius: 2px;
    color: #fff;
    position: absolute;
    text-align: center;
    right: 100%;
    transform: translate(-1rem,-35%);
    top: 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 100%;
      top: 50%;
      width: 0;
      height: 0;
      z-index: 2000;
      border: .5rem solid transparent;
      border-left-color: #323232;
      transform: translateY(-50%);
    }

  .btn {
    display: inline-block;
  }

  //[delete-confirm-open] {
  //  position: relative;
  //}

}