<i class="fa fa-trash"
   (click)="toggleConfirm()"
   aria-hidden="true">
</i>

<div class="confirm-container" *ngIf="isConfirmVisible">
    <button class="btn btn-small red waves-effect waves-light" (click)="sendChoice(true)">Да</button>
    <button class="btn btn-small green waves-effect waves-light" (click)="sendChoice(false)">Нет</button>
</div>