@import '../../../styles/variables';

.rules-page {

  img {
    width: 100%;
  }

  .blue-block {
    margin-top: -15px;
    min-height: 496px;
    background: $primary-color url('../../../assets/img/arrows-left.png') 0 50% no-repeat;
    color: #ffffff;
    padding-top: 180px;

    .caption {
      margin-top: 0;
      margin-bottom: 50px;
      font-size: 45px;
      font-weight: bold;
      letter-spacing: 2.3px;

      @media(max-width: 600px) {
        font-size: 2rem;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: bold;

      @media(max-width: 600px) {
        font-size: 1.5rem;
      }
    }
  }

  .second-block {
    margin-bottom: 40px;

    img {

      @media (min-width: 1200px) {
        margin-top: -120px;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        margin-top: -40px;
      }
    }
  }

  .point{
    margin-top: 70px;

    p:first-child {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1.2px;
      margin-bottom: 20px;
      margin-top: 0;
    }

    p {
      font-size: 16px;
      letter-spacing: 0.9px;
    }

    &.extra-margin {
      @media (min-width: 992px) and (max-width: 1199px) {
        margin-top: 70px;
      }

      @media (min-width: 1200px) {
        margin-top: 130px;
      }
      margin-top: 130px;
    }

    ul {
      font-size: 16px;
      letter-spacing: 0.9px;

      &.sub-level-0 {

        li {
          position: relative;
          padding-left: 15px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: 0;
            border-radius: 4px;
            width: 8px;
            height: 8px;
            background-color: $primary-color;
            padding-top: 4px;
          }

          p {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.9px;
          }
        }
      }
    }
  }

  &-footer {
    height: 100px;
    background-color: $primary-color;
    margin-bottom: -100px;
    margin-top: 50px;
  }

}
