<lt-header></lt-header>

<div class="main-content">
    <div class="rules-page">
        <div class="blue-block container-fluid">
            <h3 class="center-align caption">ПРАВИЛА LIGHT IT </h3>
            <p class="center-align">Несколько важных правил, чтоб работать и отдыхать в LIGHT IT было удобно</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 l6">
                    <div class="point extra-margin">
                        <p>Отпуск</p>
                        <ul class="sub-level-0">
                            <li>Первый отпуск сотрудники LIGHT IT могут взять спустя полгода с момента трудоустройства. В первый год работы – это 14 календарных дней, далее – 21 день</li>
                            <li>Не позднее, чем за месяц до желаемой даты отпуска, нужно подать соответствующую заявку на портале (раньше можно, позже - нет). После подтверждения заявки необходимо написать заявление на отпуск в HR department</li>
                            <li>Летом можно уходить в отпуск не более, чем на 14 дней подряд</li>
                            <li>Если у вас остались вопросы – отправляйтесь в HR department, а для всего остального – схема: </li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 l6">
                    <img [src]="imgPath + 'resource-1.png'" alt="Схема оформления отпусков">
                </div>
            </div>
            <div class="row second-block">
                <div class="col s12 l6 hide-on-large-only">
                    <div class="point">
                        <p>Опоздание, рабоче время, больничный</p>
                        <ul class="sub-level-0">
                            <li>Пунктуальность – это уважение к рабочему времени всех сотрудников LIGHT IT. Рабочий день длится с 8.30 до 17.30</li>
                            <li>Обед – с 13.00 до 14.00</li>
                            <li>За систематические опоздания на работу – штраф</li>
                            <li>Если вы опаздываете или планируете остаться дома из-за болезни – обязательно предупредите коллег. Кого именно – смотрите в схеме.</li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 l6">
                    <img [src]="imgPath + 'resource-2.png'" alt="Что делать, если заболел/опоздал">
                </div>
                <div class="col s12 l6 hide-on-med-and-down">
                    <div class="point">
                        <p>Опоздание, рабоче время, больничный</p>
                        <ul class="sub-level-0">
                            <li>Пунктуальность – это уважение к рабочему времени всех сотрудников LIGHT IT. Рабочий день длится с 8.30 до 17.30</li>
                            <li>Обед – с 13.00 до 14.00</li>
                            <li>За систематические опоздания на работу – штраф</li>
                            <li>Если вы опаздываете или планируете остаться дома из-за болезни – обязательно предупредите коллег. Кого именно – смотрите в схеме.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Документы</p>
                    <p>О любых изменениях в паспорте, ИНН коде или других документах обязательно сообщайте в HR department.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Backup</p>
                    <p>Все сотрудники LIGHT IT (кроме тех, кто работает на испытательном сроке) ежемесячно сдают 100 гривен в фонд Backup. Эти деньги направлены на поздравления ко Дню рождению коллег, а также выплаты по важным случаям (от поздравления с торжественными событиями до финансовой помощи на лечение). Каждый случай рассматривается индивидуально.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Зона отдыха</p>
                    <ul class="sub-level-0">
                        <li>Наслаждайтесь играми в зоне отдыха (головоломки, шашки, «вежа», настольные игры) ТОЛЬКО в обеденное время</li>
                        <li>В зоне отдыха нужно… отдыхать! Вы можете вздремнуть на обеденном перерыве, но, все-таки, высыпаться или устраивать свидания следует в другом месте и не в рабочее время (да, мы серьезно)</li>
                        <li>В рабочее время можно сыграть несколько партий в настольный футбол или теннис, но только не в ущерб работе. Развлекайтесь, получайте новые эмоции, но не ругайтесь особенно матом и не шумите во время игр – это мешает всем, кроме тебя.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Не сори</p>
                    <ul class="sub-level-0">
                        <li>Тут все просто: поддерживайте порядок на своем рабочем столе, убирайте за собой на кухне и придерживайтесь чистоты в любом другом месте в офисе. Это важно</li>
                        <li>Уходя из офиса, закрывайте окна и выключайте всё: светильники, кондиционеры и т.д.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>News Light IT</p>
                    <p>Мы создали наш портал, чтоб быть максимально открытыми друг перед другом (во-первых вы всегда в курсе всех новостей компании, во-вторых вы легко найдете тех, кто сможет максимально быстро помочь с возникшим вопросом по работе) и каждый мог выразить свое мнение. Не ленитесь и обязательно каждый день заходите на портал.  Подпишитесь на уведомления, тогда вы точно ничего не пропустите важного и интересного. Увидели опрос - голосуйте:) Нам важно знать, что вы думаете, чтобы жизнь в LIGHT IT стала ещё комфортнее и лучше.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="rules-page-footer"></footer>

</div>