<li class="comment"
    ng-if="$index >= $ctrl.startDisplayComments">
    <div class="comment-content">
        <!--TODO: add link to profile-->
        <a target="_blank">
            <lt-lazy-img styleClass="avatar-circle"
                         class="avatar"
                         [image]="comment?.user?.photo_thumbnail"
                         [alt]="comment?.user?.first_name">
            </lt-lazy-img>
        </a>

        <div class="comment-content--title">
            <b>{{ comment?.user?.fullName }}</b>
            <span class="comment-content--date-wrapper">
                        <span class="comment-content--date">{{ comment?.create_dt }}</span>
                <!--TODO: add permission for delete comment-->
                        <a class="remove-comment"
                           *ngIf="comment?.user?.id === user?.id"
                           (click)="removeComment(comment?.id)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </span>
        </div>
        <div class="comment-content--text wordbreak">
            <pre class="wordbreak"> {{ comment?.text }} </pre>
        </div>
    </div>
</li>
