li {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  .comment-content {
    padding: 5px 10px 5px 35px;
    position: relative;
    background-color: #eee;

    border-radius: 10px 20px;
    border: 2px solid silver;
    border-top: none;
    border-right: none;
    border-bottom-right-radius: 0;

    .avatar {
      position: absolute;
      top: 25px;
      left: -25px;
      margin-top: -25px;
      width: 50px;
      height: 50px;
      margin-right: 5px;
      border-radius: 100%;
      border: 1px solid silver;
    }

    &--title {
      width: 100%;
      margin-bottom: 5px;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      b {
        float: left;
        margin-right: 10px;
      }
    }
    &--date-wrapper {
      float: right;
      margin-right: 5px;
      .remove-comment {
        margin-left: 15px;
        float: right;
        color: silver;
        &:hover {
          cursor: pointer;
          color: black;
        }
      }
    }
    &--date {
      font-size: 10px;
    }
    &--text {
      width: 100%;

      pre {
        padding: 0;
        margin: 0;
        font-family: 'Roboto', Arial, sans-serif;
        overflow: visible;
        white-space: pre-wrap;
      }
    }
  }
}