<div class="fixed-action-btn new-messages-btn">
    <a class="btn-floating btn-large green" (click)="updateNewsEvent()">
        <b>+{{ messagesCount }}</b>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
</div>