.new-messages-btn {
  bottom: 115px;
  right: 24px;
  a {
    b {
      display: none;
    }
    &:hover {
      b {
        display: inline;
      }
      i {
        display: none;
      }
    }
  }
}