@import '../../../styles/variables';

.dev-codex {

  &.arrows-on-sides {
    background-image: url('./../../../assets/img/arrows-left.png'), url('./../../../assets/img/arrows-up.png');
    background-position: left 63%, 65% bottom;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .blue-block {
    margin-top: -15px;
    margin-bottom: 50px;
    min-height: 496px;
    background-color: $primary-color;
    color: #ffffff;
    padding-top: 135px;
    background-image: url('./../../../assets/img/arrow-to-left.png');
    background-position: 110% 50%;
    background-repeat: no-repeat;

    .caption {
      margin-top: 0;
      margin-bottom: 45px;
      font-size: 45px;
      font-weight: bold;
      letter-spacing: 2.3px;

      @media(max-width: 600px) {
        font-size: 2rem;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 16px;
      letter-spacing: 0.9px;

      &:last-child {
        margin-bottom: 130px;
      }
    }
  }

  .description {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }

  .point {
    margin-top: 23px;
    position: relative;

    .bg-int-1 {
      top: -50px;
      left: -80px;
      right: auto;
      width: auto;
      color: #666;
    }
    .bg-int-2 {
      top: -35px;
      left: -65px;
      right: auto;
      width: auto;
      color: #666;
    }
    .bg-int-3 {
      top: -50px;
      left: -65px;
      right: auto;
      width: auto;
      color: #666;
    }

    .blue-text {
      color: $primary-color;
    }

    p {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1.2px;
      margin-bottom: 0;
      margin-top: 0;
    }

    ul {
      font-size: 16px;
      letter-spacing: 0.9px;

      &.sub-level-0 {
        padding-bottom: 7px;

        li {
          position: relative;
          padding-left: 15px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: 0;
            border-radius: 4px;
            width: 8px;
            height: 8px;
            background-color: $primary-color;
            padding-top: 4px;
          }

          p {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.9px;
          }
        }
      }

      &.sub-level-1 {
        li {

          &:before {
            border-radius: 0;
          }
        }
      }

      &.sub-level-2 {
        li {

          &:before {
            border: 1px solid $primary-color;
            background-color: transparent;
          }
        }
      }
    }

    .sub-point {
      margin-top: 20px;
      margin-bottom: 15px;

      span {
        font-size: 24px;
        letter-spacing: 1.2px;
      }
    }
  }

  &-footer {
    height: 100px;
    background-color: $primary-color;
    margin-bottom: -100px;
    margin-top: 50px;
  }
}
