<lt-header></lt-header>
<div class="main-content">
    <div class="dev-codex arrows-on-sides">
        <div class="blue-block">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h3 class="center-align caption">КОДЕКС РАЗРАБОТЧИКА</h3>
                    </div>
                    <div class="col s12 m10 offset-m1">
                        <p class="center-align description">Целью кодекса является определение стандартов деятельности компании Light IT и поведение сотрудников, направленные на поддержание этических стандартов нашего коллектива и повышение качества разработки.</p>
                        <p class="center-align description">Основная цель деятельности компании Light IT заключается в предоставлении заказчикам качественных и надежных услуг, основанных на высоком профессионализме наших сотрудников и применении современных технологий.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 point">
                    <p>Компания <span class="blue-text">Light IT</span> приветствует развитие сотрудниками следующих качеств:</p>
                    <ul class="sub-level-0">
                        <li>честность и открытость</li>
                        <li>ответственность</li>
                        <li>самостоятельность и готовность помочь</li>
                        <li>нацеленность на результат</li>
                        <li>инициативность</li>
                        <li>профессионализм</li>
                        <li>умение работать в команде</li>
                        <li>соблюдение корпоративных правил</li>
                        <li>саморазвитие</li>
                    </ul>
                    <div class="bg-int bg-int-1">1</div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Разработчик обязан:</p>
                    <div class="sub-point">
                        <span>Организационная работа:</span>
                    </div>
                    <ul class="sub-level-0">
                        <li>Вместе с непосредственным руководителем определять цели и задачи проекта, и обеспечивать их своевременное и качественное исполнение</li>
                        <li>Осуществлять взаимодействие с другими сотрудниками для выполнения совместных задач</li>
                        <li>Поддерживать порядок на своем рабочем месте, в рабочей документации, в коде и на проектах</li>
                        <li>Следить за соблюдением правил принятых на проекте:
                            <ul class="sub-level-1">
                                <li>своевременно заполнять memo трекера, если таковой имеется</li>
                                <li>следить за качеством скринов и залогированной активности по трекеру</li>
                                <li>следить за правильным именованиях коммитов</li>
                                <li>следить за тем, чтобы авторство коммита было правильно указано</li>
                                <li>следить за тем, чтобы коммиты попадали в нужные ветки, и соответствовали workflow принятому для репозитория</li>
                                <li>следить, чтобы коммиты были как можно более атомарны</li>
                                <li>делать коммит в конце рабочего дня, даже если работа над задачей не закончена</li>
                                <li>не использовать личные аккаунты для регистрации любых сервисов, связанных с рабочим проектом</li>
                                <li>делать резервные копии критичных данных</li>
                                <li>всегда учитывать приоритет в выборе задания</li>
                                <li>своевременно отвечать на запросы коллег</li>
                                <li>своевременно извещать ответственных лиц (менеджеров/менторов/тим-лидов) о:
                                    <ul class="sub-level-2">
                                        <li>изменении своего статуса занятости (например, появление новых задач,
                                            блокирование выполнения текущих задач кем-то или чем-то, e.t.c. )
                                        </li>
                                        <li>возникших сложностях или иных обстоятельствах, мешающих качественно выполнить поставленные задачи
                                            (eсли столкнулся с проблемой и не можешь увидеть её решение в течении 15-20 минут исследования и изучения - сообщи об этом менеджеру и ментору)</li>
                                        <li>вещах, которые могли бы позитивно отразиться на работе команды</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Использовать средства коллективной разработки (Slack, Skype, Git & SVN, Bug trackers, Jira и т.д.)</li>
                        <li>Соблюдать правила конфиденциальности к данным</li>
                        <li>По завершению проекта необходимо заливать проект на локальный gitlab и оформлять документ для ретроспективы</li>
                    </ul>
                    <div class="sub-point ">
                        <span>Планирование и аналитическая работа:</span>
                    </div>
                    <ul class="sub-level-0">
                        <li>Принимать участие в анализе проблем, которые должен решить программный продукт, и предлагать варианты по его реализации</li>
                        <li>Осуществлять выбор среды разработки, языков программирования и необходимого программного обеспечения</li>
                        <li>Участвовать в календарном планировании выполнения работ (оценка проекта)</li>
                        <li>Вести учет выполненных работ</li>
                        <li>Вести рабочую и отчетную документацию (своевременные отчеты менеджерам и менторам):
                            <ul class="sub-level-1">
                                <li>Утро должно начинаться с рабочего плана на день</li>
                                <li>Уходя с работы убедитесь, что ваш отчёт получен вашим менеджером или ментором</li>
                                <li>Начиная работу над задачей, убедитесь, что не забыли это отметить соответствующим образом (в тикете, в мемо трекера и т.п.)</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="sub-point ">
                        <span>Разработка:</span>
                    </div>
                    <ul class="sub-level-0">
                        <li>Писать код и отлаживать программы с использованием соответствующих программных и аппаратных средств, баз данных и технологий программирования, принятых на проекте</li>
                        <li>Использовать методологию разработки наиболее подходящую для успешного решения поставленных задач</li>
                        <li>Знать и уместно использовать принципы проектирования и построения ПО. Основные архитектурные шаблоны:
                            <ul class="sub-level-1">
                                <li>ООП</li>
                                <li>SOLID</li>
                                <li>MVC/MVVP/MTV etc</li>
                            </ul>
                        </li>
                        <li>Тестировать написанные решения (как в ручную, так и с помощью Unit тестов)</li>
                        <li>Оказывать всестороннюю поддержку проекту на всех этапах его жизненного цикла, включая, но не ограничиваясь:
                            <ul class="sub-level-1">
                                <li>конфигурированием и настройкой окружения для разработки и продуктового использования</li>
                                <li>поддержкой и настройкой интеграций с 3rd party сервисами</li>
                                <li>написанием вспомогательных и тестовых утилит</li>
                                <li>обработкой, сбором и анализом логов и статистической информации</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="sub-point">
                        <span>Документирование:</span>
                    </div>
                    <ul class="sub-level-0">
                        <li>Комментирование кода</li>
                        <li>Создание и сопровождение программной документации (например, для API)</li>
                        <li>Документирование программных проблем и возможности решения этих проблем в будущем (ToDo в коде, описание багов, заметки)
                        </li>
                    </ul>
                    <div class="sub-point">
                        <span>Техническое и программное обеспечение своего рабочего места:</span>
                    </div>
                    <ul class="sub-level-0">
                        <li>Установка и настройка аппаратного обеспечения на рабочем месте (веб-сервер Nginx, MySQL, PHP, Python и т.д.)</li>
                        <li>Установка и настройка операционной системы и всего необходимого для разработки программного обеспечения</li>
                    </ul>
                    <div class="bg-int bg-int-2">2</div>
                </div>
                <div class="col s12 point">
                    <p>Перечень инструментария, доступного для всех сотрудников и рекомендуемого к использованию:</p>
                    <div class="bg-int bg-int-3">3</div>
                    <ul class="sub-level-0">
                        <li>
                            <p>
                                <a href="http://gitlab.light-it.loc/" target="_blank">Gitlab</a>
                            </p>
                            <p>Уже существует и активно используется наш местный gitlab, на котором должны быть расположены все проекты (и внешние - по окончанию проекта, и внутренние)</p>
                        </li>
                        <li>
                            <p>
                                <a href="https://light-it-team.slack.com" target="_blank">Slack</a>
                            </p>
                            <p>Вся коммуникация фирмы переведена на <a href="https://light-it-team.slack.com" target="_blank">light-it-team.slack.com</a>, включая все группы.</p>
                        </li>
                        <li>Wiki</li>
                        <li>Taiga</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="dev-codex-footer"></footer>

</div>