<blockquote class="event-content--title">
    {{ news?.message?.title }}
</blockquote>
<p class="wordbreak"> {{ news?.message?.text }} </p>

<lt-event *ngIf="news?.message?.message_type === 'event'"
          [eventData]="news?.message?.content_object">
</lt-event>

<lt-poll *ngIf="news?.message?.message_type === 'event' || news?.message?.message_type === 'poll'"
         [news]="news">
</lt-poll>

<lt-comments [messageId]="news?.message?.id" *ngIf="isVisibleComments"></lt-comments>
