
<div class="no-comments" *ngIf="comments?.length === 0">
    <span>Пока что нет комментариев, будь первым!</span>
</div>

<a *ngIf="comments?.length > 5"
   class="btn col s12"
   (click)="isVisibleAllList = !isVisibleAllList"
   [ngClass]="isVisibleAllList ? 'grey' : 'green'" >
    <span>
        <ng-container *ngIf="!isVisibleAllList;else hideText"> показать </ng-container>
        <ng-template #hideText>скрыть</ng-template>
        комментарии ({{ comments?.length - 5}})
    </span>
</a>

<ul [ngClass]="{'show-all': isVisibleAllList}">
    <!--ng-class="{'show-all': $ctrl.startDisplayComments === 0}" scroll-glue="$ctrl.glued"-->
    <ng-container *ngFor="let comment of comments, let index = index">
    <lt-comments-item [comment]="comment"
                      [messageId]="messageId"
                      (deleteCommentEvent)="deleteCommentSendEvent($event)"
                      *ngIf="checkStateList(index)"></lt-comments-item>
    </ng-container>
</ul>
