
ul {
  padding: 0 0 0 40px;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  margin-top: 20px;

  &.show-all {
    max-height: calc(100vh - 330px);
    overflow: auto;
  }
}

.no-comments {
  width: 100%;
  margin-top: 20px;
  float: left;
  text-align: center;
  span {
    color: #9e9e9e;
  }
}


.btn {
  margin-top: 15px;
}