@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.mobile-menu-open {
  display: none;
  &.open {
    display: block;
  }
  margin-top: 20px;
  a {
    width: calc(100% - 20px);
    float: left;
    margin: 5px 10px;
    background: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    text-align: center;
    &.active {
      background: $white;
    }
  }
}