<lt-header></lt-header>
<div class="main-content">
    <div class="inform-page">
        <div class="blue-block first container-fluid">
            <h3 class="center-align first-caption">ИНФОРМАЦИЯ ДЛЯ НОВИЧКА</h3>
            <h3 class="center-align second-caption">LIGHT IT - ЭТО ПРЕЖДЕ ВСЕГО КОМАНДА</h3>
            <h4 class="center-align lifehack"><span>Лайфхак: как стать своим в команде LIGHT IT с первых дней</span></h4>
        </div>
        <div class="container white-block">
            <div class="row">
                <div class="col m10 offset-m1 center-align">
                    <p class="center-align description">Если Вы читаете это сообщение - поздравляем, Вы стали частью нашей команды. Первые дни на новой работе традиционно самые суетливые и ответственные, именно поэтому мы решили рассказать, что и как работает в нашем офисе.</p>
                    <p class="center-align description">Начнем с главного: от каждого члена команды зависит успешность и репутация компании в целом. И потому, для нас очень важно, чтобы Вы развивались в техническом плане, были счастливы, ну или как минимум - чувствовали себя комфортно. Если что-то пошло не так – не стесняйтесь, обращайтесь в 200-й кабинет. Хотя, даже если все в норме - тоже заходите.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 our-goal">
                    <p>
                        <span>Мы</span>
                        <span> - это НАША ЦЕЛЬ</span>
                    </p>
                    <p>Ответственность, инициативность и самодисциплина – это три кита, на которых стоит наша компания. Если у вас есть отличная идея как сделать компанию лучше - озвучьте её, давайте вместе сделаем это. Вдохновляйтесь, делитесь мыслями и берите на себя ответственность, чтобы реализовать задуманное. Так делает каждый из нас. Время скучной работы в офисе закончилось. Наша цель – сделать работу так, что мир стал удобнее и лучше.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Как выжить в офисе</p>
                    <p>Рабочий день длится с 8:30 до 17:30, а перерыв с 13:00 до 14:00. В субботу и воскресенье мы отдыхаем. В нашем офисе нет секретаря. На этот шаг мы пошли сознательно - хотим, чтобы люди общались больше без лишних барьеров и секретарей. Именно этот элемент нашей корпоративной культуры позволяет всем сотрудникам общаться на равных и, как следствие, работать и взаимодействовать максимально эффективно. Кстати, у нас есть крутая карта офиса – в ней Вы найдете имя, фамилию, фото, скайп-контакт и месторасположение всех работников в офисе - <a href="http://locator.light-it.loc/" target="_blank">Локатор</a>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>ПК и ПО</p>
                    <p>Если Вам нужно «прокачать» ваш компьютер или ПО - обращайтесь к руководству компании или к системному администратору
                        <a ui-sref="pages.userView({ id: 76 })" target="_blank">Дмитрию Филоненко</a>,
                        его можно найти в кабинете №215.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Деньги</p>
                    <p>Свою первую зарплату Вы получите через месяц после выхода на работу. Ну, а дальше, ежемесячно с 6 по 10 число.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Здоровье, отпуск и больничный</p>
                    <p>Для нас важно, чтобы Вы всегда чувствовали себя хорошо. В кабинете 200 можно взять витамины, обезболивающие, жаропонижающие и противовирусные препараты. Если вам грустно - тоже заходите. Если же Вы все-таки заболели, знайте: все больничные всегда оплачиваются. Правда, прежде чем отправиться болеть, выздоравливать или пойти в загул (по уважительной причине), ОБЯЗАТЕЛЬНО сообщите своему менеджеру или руководству компании, или HR-менеджерам, или Тим лидам. Это важно! Отпуск в первый год работы составит 14 календарных дней, 7 из которых Вы сможете взять уже через полгода. Дальше количество отпускных дней увеличится до 21.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Куда идти за документами</p>
                    <p>Все необходимые «бумажки» можно получить в HR отделе. В частности, обращайтесь к нам за справкой о трудоустройстве, справкой о практике, договоре о трудоустройстве. Заявление об отпуске тоже пишется у нас.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Наставничество и кураторство</p>
                    <p>К вам, как к новичку, обязательно приставят наставника, то есть человека, который знает, как решить любую проблему, возникающую в процессе Вашей работы. Его задача - научить Вас всему и помочь Вам быстрее влиться в коллектив. Так что не стесняйтесь - спрашивайте у него обо всем.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Превратить 100 друзей в 100 рублей</p>
                    <p>Мы всегда радуемся, когда в Light IT приходят талантливые разработчики. Если среди ваших знакомых есть такие, то посоветуйте их нашим HR. За хорошую рекомендацию Вы получите бонус. Только никаких друзей ради друзей. В наш коллектив попадают только лучшие, ну Вы знаете.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Обучение</p>
                    <p>Для нас важно, чтобы Ваши знания всегда были актуальными. Потому компания оплачивает участие сотрудников в IT конференциях и ежемесячно организовывает лекции в нашем офисе. Если у вас в планах есть посещение IT-мероприятий - обратитесь к руководству или в HR отдел.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Бесплатные плюшки для своих</p>
                    <p>Голодный художник - это не про нас. Команду Light IT на офисной кухне всегда ждут печеньки, кофе, чай, фрукты, йогурты, здоровые завтраки и конфеты. Да-да, всё в бесплатном неограниченном доступе, welcome.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 point">
                    <p>Спорт и развлечения</p>
                    <p>Чтоб Вы не «засиживались» перед компьютером мы приглашаем вас заниматься спортом: футбол для парней и большой теннис для девушек. Для сотрудников Light it это совершенно бесплатно. Развеяться можно и непосредственно в офисе: тут есть теннисный стол, настольный футбол. В обед можно поиграть в шахматы, логические головоломки, бадминтон, настольные игры и позаниматься на турнике.</p>
                    <p>Если у вас есть идеи, как разнообразить наши офисные развлечения - предлагайте, возможно, сделаем наш досуг ещё круче.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 party">
                    <p>Главные тусовки Light IT</p>
                    <p class="additional">Впереди у нас с вами много праздников, на которые Вы уже приглашены:</p>
                    <p>
                        <b>9 февраля</b> - самый громкий праздник - День Рождения Light IT;<br>
                        <b>В мае-июне</b> - летний корпоратив;<br>
                        <b>В сентябре</b> - день Программиста;<br>
                        <b>В  декабре</b> - Новый год. Кстати, для деток сотрудников мы проводим новогоднюю ёлку с подарками от Деда Мороза;<br>
                        Также Light it всегда поздравляет сотрудников с личными праздниками и оказывает материальную поддержку в сложных ситуациях.
                    </p>
                </div>
            </div>
        </div>
        <div class="blue-block last">
            <div class="container">
                <div class="row">
                    <div class="col l4 footer contacts">
                        <p>Чуть не забыли</p>
                        <p>Наш адрес - ул.Победы, 70-б.</p>
                        <p>Телефоны - 061-236-39-41</p>
                        <p>061-236-39-21</p>
                        <p>050-228-88-22</p>
                        <p><b>Запомните, а лучше запишите</b></p>
                    </div>
                    <div class="col l6 offset-l2 footer">
                        <p>Вроде всё.</p>
                        <p>Если у Вас остались вопросы - Вы знаете что делать))</p>
                        <p><b>Ваша команда Light IT</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>