@import '../../../styles/variables';

.inform-page {

  .blue-block {
    margin-top: -15px;
    background-color: $primary-color;
    min-height: 487px;
    color: #ffffff;

    &.first {
      padding-top: 159px;
      background-image: url('../../../assets/img/arrow-to-left.png');
      background-position: 110% 50%;
      background-repeat: no-repeat;

      .first-caption {
        margin-top: 0;
        margin-bottom: 19px;
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 2.3px;

        @media(max-width: 600px) {
          font-size: 2rem;
        }
      }

      .second-caption {
        margin-top: 0;
        margin-bottom: 66px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.5px;

        @media(max-width: 600px) {
          font-size: 1.5rem;
        }
      }

      .lifehack {
        margin-top: 0;
        font-size: 24px;
        font-weight: bold;

        @media(max-width: 600px) {
          font-size: 1.3rem;
        }

        span {
          padding-left: 22px;
          padding-right: 22px;
          border-left: 1px solid #fff;
        }
      }
    }

    &.last {
      min-height: 332px;
      background-image: url('./../../../assets/img/arrow-to-left.png');
      background-position: 110% 50%;
      background-repeat: no-repeat;

      .footer {
        margin-top: 75px;
      }

      .contacts {

        p {
          margin-top: 0;
          margin-bottom: 0;
          letter-spacing: 0.9px;
          font-size: 16px;
          letter-spacing: 0.9px;

          &:first-child {
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: bold;
          }
        }
      }

      p {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 5px;
        letter-spacing: 0.9px;
      }
    }
  }

  .center-align {
    text-align: center;
  }

  .description {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }

  .white-block {
    padding-top: 80px;
    padding-bottom: 40px;

    p {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 16px;
      text-indent: 10px;
      color: #000;
      letter-spacing: 0.9px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .our-goal {
      margin-top: 151px;

      p:first-child {
        font-size: 24px;
        font-weight: bold;
        text-indent: 0;
        letter-spacing: 0.9px;

        span:first-child {
          color: $primary-color;
        }
      }

      p {
        text-indent: 0;
      }
    }

    .point {
      @extend .our-goal;
      margin-top: 70px;
    }

    .party {
      @extend .point;

      p:first-child {
        margin-bottom: 0;
      }

      .additional {
        font-size: 24px;
        font-weight: normal;
      }
    }
  }
}
