 <!--trustbox-readers-->
<a class="trustbox-toggler" title="Письма доверия" style="display: none">
    <img [src]="imgPath + 'mail-35px.png'" />
    <div class="trustbox-label">Письма доверия</div>
    <!--<span class="trustbox-toggler-counter">-->
        <!--{{ $ctrl.trustboxCounter }}-->
    <!--</span>-->
</a>

 <!--trustbox-writers-->
<a class="trustbox-toggler" title="Письмо доверия" >
    <img class="" [src]="imgPath+'mail-35px.png'" alt="Письмо доверия"/>
    <div class="trustbox-label">Письмо доверия</div>
</a>