:host {
  color: white;
}

.trustbox-toggler {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 9.6em;
  font-size: 0.8em;
  justify-content: center;
  padding-top: .4em;
  cursor: pointer;
  color : #fff;
  margin-right: 1em;
  transition-duration: .35s;

  &:hover {
    color: #fff;
  }

  i {
    font-size: 2.5rem;
  }
}

.trustbox-toggler-counter {
  border-radius: .3em;
  border: 1.8px solid #fff;
  background: #fff;
  font-size: .8em;
  display: block;
  color: #32aaf5;
  right: 2.7em;
  bottom: 3.4em;
  position: absolute;
  font-weight: 600;
  padding: 0 .35em;
}

.trustbox-label {
  padding-top: 5px;
}
