@import "variables";

.container {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.row {
  margin-bottom: 0;
}

.modal.bottom-sheet {
  max-height: 75%;
}
.picker .picker__footer button {
  line-height: 1;
}
input ~ label::after {
  top: 36px!important;
}
input ~ label.active::after {
  top: 60px!important;
}
input[type="text"] ~ label::after {
  display: block;
  content: "";
  position: absolute;
  top: 60px;
  opacity: 0;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out;
}
.toast {
  word-break: normal;
}

.fixlabel {
  margin-left: 56px!important;
}

.prefix {
  &:hover {
    cursor: default;
  }
}

.picker__select--year {
  &:hover {
    cursor: pointer;
  }
}

.dropdown-content {
  z-index: 997!important;
}

.skills-list {
  .collapsible-header + .collapsible-body {
    display: none !important;
  }

  .collapsible-header.active + .collapsible-body {
    display: block !important;
  }
}

.select-dropdown {
  li.disabled {
    &:hover {
      cursor: default;
    }
  }
}

.input-field.datetime {
  label:hover {
    cursor: pointer;
  }
}
input[input-date],
input[input-clock]{
  &:hover {
    cursor: pointer;
  }
}

.input-field.col label {
  left: 0;
}

input:not([type]).invalid, input:not([type]):focus.invalid, input[type=text].invalid, input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid, input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid, input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime].invalid, input[type=datetime]:focus.invalid, input[type=datetime-local].invalid, input[type=datetime-local]:focus.invalid, input[type=tel].invalid, input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid, input[type=search].invalid, input[type=search]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid {
  border-color: $danger-color;
}

.datepicker-container .input-field {
  margin-top: 5px;
}