.truncate-with-dots {
  @include overflow-ellipsis();
}

.ltp-badge {
  margin-right: 10px;
  padding: 1px 4px;
  border-radius: 2px;
}

.centered-flex-content {
  display: flex;
  align-items: center;
}

.row.white-space {
  margin-bottom: 15px;
}

.wordbreak {
  word-break: break-word;
}

.to-pre {
  white-space: pre-wrap;
}

.fix-error-message-position {
  &:after {
    top: 0!important;
    right: 0;
  }
}

.pointer:not(.disabled) {
  &:hover {
    cursor: pointer;
  }
}

button[disabled="disabled"] {
  &:hover {
    cursor: default;
  }
}

.margin-button {
  margin: 0px 5px!important;
}

.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &-allocate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &-allocate-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.brand-blue {
  color: $primary-color;
}

.cobalt{
  background: $primary-color!important;
}

.larger-text {
  font-size: 1.1em;
}

.input-field.flow-autocomplete {
  ul {
    position: static;
  }
}

.locked {
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background: rgba(140, 50, 60, .3);
}

.relative {
  position: relative;
}


.inline-block {
  display: inline-block;
}

.pdr-20 {
  padding-right: 2em;
}

.inline-items {
  > * {
    display: inline;
  }
}

.inline {
  display: inline;
}

.pdv-15 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}

.pdv-10 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pdv-12 {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.pdt-10 {
  padding-top: 1em;
}

.pdb-10 {
  padding-bottom: 1em;
}

.mr-05 {
  margin-right: .5em;
}


.full-width-label {
  label {
    width: 100%;
  }
}

.cells-top {
  > td {
    vertical-align: top;
  }
}
