@mixin btn {
  border: 0;
  border-radius: 100%;
  vertical-align: center;
  text-align: center;
  outline: none;
  color: $white;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

@mixin small-btn {
  width: 40px;
  height: 40px;
  padding: 4px;
}

@mixin large-btn {
  width: 56px;
  height: 56px;
  padding: 12px;
}

@mixin inlineBtn {
  background: transparent;
  color: $black;
  border: none;
  border-radius: 2px;
  padding: 8px 30px;
  margin: 10px 1px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  will-change: box-shadow, transform;
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: $green;
    color: $white;
  }
}

@mixin input {
  border: 0;
  border-bottom: 1px solid $dark-gray;
  padding: 5px;
  color: $black;
  &:focus {
    outline: none;
    border-bottom: 1px solid $blue;
  }
}

@mixin shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

@mixin overflow-ellipsis ($width: 100%) {
  white-space: nowrap;
  width: $width;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin page-bottom-offset {
  display: block;
  padding-bottom: 100px;
}
