//Colors
$dark-gray: #a0a0a0;
$white: #eeeeee;
$pink: #ffe2e2;
$black: #434343;
$readed: #d8d8d8;

$brand-main-color: #002755;
$brand-secondary-color: #fff;

//Spinkit Preloader
$spinkit-spinner-color: $brand-main-color;

//Media queries
$mobile-width: 320px;
$tablet-width: 768px;
$middle-bs-width: 992px;
$big-tablet-width: 1024px;
$desktop-width: 1200px;

$primary-color: #002755;
$secondary-color: #4CAF50;
$danger-color: #ee6e73;
