<lt-header></lt-header>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="auth card horizontal col l6 m8 s12 offset-l3 offset-m2 offset-s0">
                <div class="card-stacked">
                    <div class="card-content">
                        <form [formGroup]="resetPasswordForm" (submit)="submit($event, resetPasswordForm)">
                            <!--<div class="input-field col s12">-->
                                <!--<lt-input type="password"-->
                                          <!--label="Пароль"-->
                                          <!--[control]="resetPasswordForm.get('new_password1')"></lt-input>-->
                            <!--</div>-->
                            <mz-input-container class="col s12">
                                <input mz-input mz-validation
                                       id="new_password1"
                                       formControlName="new_password1"
                                       type="password"
                                       [errorMessageResource]="errorMessages"
                                       [label]="'Пароль'" />
                            </mz-input-container>

                            <mz-input-container class="col s12">
                                <input mz-input mz-validation
                                       id="new_password2"
                                       formControlName="new_password2"
                                       type="password"
                                       [errorMessageResource]="errorMessages"
                                       [label]="'Подтвердить пароль'" />
                            </mz-input-container>

                            <!--<div class="input-field col s12">-->
                                <!--<lt-input type="password"-->
                                          <!--label="Подтвердить пароль"-->
                                          <!--[control]="resetPasswordForm.get('new_password2')"></lt-input>-->
                            <!--</div>-->
                            <div class="col s12 submit">
                                <button [disabled]="resetPasswordForm.invalid"
                                        type="submit"
                                        class="waves-effect waves-light btn">
                                    Сменить пароль
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>