@import '../../../styles/variables';

.btn {
  display: block;
  margin: 0 auto;
}

.tab-content {
  padding: 40px 10px;
}

.register-email {
  color: $primary-color;
}

.submit {
  margin-top: 15px;
}