<!--<form ng-if="!$ctrl.goEmail" name="registrationForm" ng-submit="$ctrl.registration(registrationForm)">-->
    <!--<section class="auth-registration">-->
        <!--<div class="input-field col s12">-->
            <!--<input name="email"-->
                   <!--type="email"-->
                   <!--id="email1"-->
                   <!--ng-model="$ctrl.reg.email"-->
                   <!--ng-minlength="7"-->
                   <!--ng-pattern='/^([a-zA-Z0-9])+([\.\+a-zA-Z0-9_-])*@([\+a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-]+)+$/'-->
                   <!--error-message="$ctrl.serverError"-->
                   <!--ng-change="$ctrl.clearServerError()"-->
                   <!--required>-->
            <!--<label-->
                    <!--for="email1">-->
                <!--Email-->
            <!--</label>-->

            <!--&lt;!&ndash;data-error="{{[registrationForm.email.$error, $ctrl.serverError] | vErrorFilter:['email', 'minlength', 'required']}}"&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="input-field col s12">-->
            <!--<input name="password1"-->
                   <!--type="password"-->
                   <!--id="password1"-->
                   <!--ng-model="$ctrl.reg.password1"-->
                   <!--ng-minlength="8"-->
                   <!--error-message="$ctrl.serverError"-->
                   <!--ng-change="$ctrl.clearServerError()"-->
                   <!--required>-->
            <!--<label-->
                    <!--for="password1" >-->
                <!--Пароль-->
            <!--</label>-->
                                <!--&lt;!&ndash;data-error="{{[registrationForm.password1.$error, $ctrl.serverError] | vErrorFilter:['password1', 'minlength', 'required']}}">&ndash;&gt;-->

        <!--</div>-->
        <!--<div class="input-field col s12">-->
            <!--<input name="password2"-->
                   <!--type="password"-->
                   <!--id="password2"-->
                   <!--ng-model="$ctrl.reg.password2"-->
                   <!--match-password="password1"-->
                   <!--ng-change="$ctrl.clearServerError()"-->
                   <!--required>-->
            <!--<label-->
                    <!--for="password2">-->
                <!--Подтвердить пароль-->
            <!--&lt;!&ndash;data-error="{{[registrationForm.password2.$error, $ctrl.serverError] | vErrorFilter:['password2', 'minlength', 'passwordMatch', 'required']}}">&ndash;&gt;-->

            <!--</label>-->
        <!--</div>-->
        <!--<div class="col s12 confirm">-->
            <!--<input type="checkbox" id="agree" ng-model="$ctrl.agree" ng-disabled="$ctrl.notOpen"/>-->
            <!--<label for="agree">Я принимаю-->
                <!--<a href='#confirmModal' ready="$ctrl.agreeModalOpened()" modal>условия конфиденциальности</a>-->
            <!--</label>-->
        <!--</div>-->
        <!--<div id="confirmModal" class="modal modal-fixed-footer">-->
            <!--<div class="modal-content inform-page">-->
                <!--<blockquote>-->
                    <!--<h4>Политика конфиденциальности компании Light IT</h4>-->
                <!--</blockquote>-->
                <!--<p>-->
                    <!--&emsp;Настоящий документ «Политика конфиденциальности» (далее – по тексту – «Политика») представляет собой правила использования информации полученной во время работы в компании и при использовании  информационного портала (далее – по тексту – «Портал»).-->
                <!--</p>-->
                <!--<p>-->
                    <!--&emsp;Политика конфиденциальности компании разработана для улучшения безопасности всех сотрудников, которая предусматривает неразглашение информации о компании и неразглашение компанией персональной информацией о сотрудниках третьим лицам.-->
                <!--</p>-->
                <!--<p>-->
                    <!--&emsp;Под персональной информацией в настоящей Политике понимается информация, предоставляемая сотрудником самостоятельно при регистрации на Портале компании, так и в последующем (редактирование профиля, участие в опросах и событиях компании), а также любой другой персональной информации полученной инным путем. Компания может передавать персональную информацию сотрудников третьим лицам (заказчикам) для непосредственного выполнения работы.-->
                <!--</p>-->
                <!--<p>-->
                    <!--&emsp;Ознакомьтесь с данной Политикой перед регистрацией на Портале! Заполняя форму регистрации на Портале  или посещая страницы Портала, Вы принимаете условия данной Политики о неразглашении информации о компании.-->
                <!--</p>-->
                <!--<p>-->
                    <!--&emsp;Информация о компании Light IT, которая не подлежит разглашению:-->
                <!--<ul>-->
                    <!--<li>&emsp;- сведения о структуре компании;</li>-->
                    <!--<li>&emsp;- информация, связанная с проектами над которыми работают сотрудники компании;</li>-->
                    <!--<li>&emsp;- информация о внутренних и зарубежных заказчиках;</li>-->
                    <!--<li>&emsp;- методы осуществления продаж предприятием;</li>-->
                    <!--<li>&emsp;- сведения, составляющие коммерческую тайну предприятия;</li>-->
                    <!--<li>&emsp;- общие фотографии сотрудников и офиса в целом;</li>-->
                    <!--<li>&emsp;- сведения о заработной плате;</li>-->
                    <!--<li>&emsp;- персональные данные и контакты сотрудников компании, а также другие данные, которые могут иметь ценность для компании Light IT.</li>-->
                <!--</ul>-->

                <!--<p>-->
                    <!--&emsp;Информация  не может быть передана устно, письменно, в виде фотографий, в электронном (в том числе электронной почтой), графическом, по телефонной связи, а также в любом другом виде. Сотрудник обязуется во время работы и после увольнения не использовать информацию, полученную в результате работы, ни в своих интересах, ни в интересах третьих лиц.-->
                <!--</p>-->
                <!--<p>-->
                    <!--&emsp;Компания может в любой момент, без предварительного информирования сотрудников, самостоятельно изменять Политику время от времени.-->
                <!--</p>-->
                <!--<p>-->
                    <!--&emsp;Ответственность за нарушения данной Политики конфиденциальности компании Light IT предусматривается трудовым и административным кодексами Украины.-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="modal-action modal-close waves-effect waves-green btn-flat">Закрыть</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col s12 submit">-->
            <!--<button-->
                    <!--ng-disabled="registrationForm.$invalid || !$ctrl.agree"-->
                    <!--type="submit"-->
                    <!--class="waves-effect waves-light btn">-->
                <!--Регистрация-->
                <!--<i class="fa fa-3x fa-user-plus"-->
                   <!--aria-hidden="true"></i>-->
            <!--</button>-->
        <!--</div>-->
    <!--</section>-->
<!--</form>-->
<!--&lt;!&ndash;<h4 ng-if="$ctrl.goEmail" class="center">Загляни в ящик</h4>&ndash;&gt;-->
<!--&lt;!&ndash;<h5 ng-if="$ctrl.goEmail" class="center register-email">{{$ctrl.reg.email}}</h5>&ndash;&gt;-->
