
<ng-container *ngIf="eventData?.location_url"></ng-container>
<b>Место проведения: </b>
<a [href]="eventData?.location_url"
   target="_blank">
    {{ eventData?.location }}
</a>
<br>
<b>Время проведения: </b> {{ eventData.date_time }}
