<ng-container *ngIf="birthdayTodayList?.length > 0">
    <h5 class="center">
        Сегодня поздравляем <br>
        именинников
    </h5>
    <div class="b-week-flex">
        <div class="row responsive-birthday-thumbs" *ngFor="let user of birthdayTodayList" >
            <div class="col s3">
                <a [routerLink]="'/profile/' + user.id">
                    <lt-lazy-img [image]="user.photo_thumbnail"
                                 styleClass="avatar-circle"
                                 alt="avatar">
                    </lt-lazy-img>
                </a>
            </div>
            <div class="col s9 user-birthday-content">
                <span class="grey-text text-darken-4">
                    <b>{{ user.fullName }}</b>
                </span>
                <br>
                {{ user.birthDateDMMMM }}
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="birthdayWeekList?.length > 0">
    <h5 class="center weekly-bds">Именинники недели</h5>
    <div class="b-week-flex">
        <div class="row responsive-birthday-thumbs" *ngFor="let user of birthdayWeekList">
            <div class="col s3">
                <a [routerLink]="'/profile/' + user.id">
                    <lt-lazy-img [image]="user.photo_thumbnail"
                                 styleClass="avatar-circle"
                                 alt="avatar" >
                    </lt-lazy-img>
                </a>
            </div>
            <div class="col s9 user-birthday-content">
                <span class="grey-text text-darken-4">
                  <b>{{ user.fullName }}</b>
                </span>
                <br>
                <span>
                  {{ user.birthDateDMMMM }}
                </span>
            </div>
        </div>
    </div>
</ng-container>