@import '../../../../styles/variables';

.user-birthday-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}

.weekly-bds {
  margin-top: 30px;
}

@media only screen and (max-width: $middle-bs-width) {
  .user-birthday-content {
    display: none;
  }

  h5 {
    font-size: 18px;
  }

  .b-week-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;

    .responsive-birthday-thumbs.row {
      margin: 5px;
    }
  }
}