<ng-container *ngIf="isTextarea; else inputTemplate">
    <mz-textarea-container>
        <i class="material-icons prefix"> {{icon}} </i>
  <textarea mz-textarea
            [label]="label"
            [id]="id"
            [length]="length"
            #field
            [formControl]="control">
  </textarea>
    </mz-textarea-container>
</ng-container>


<!--<mz-textarea-container>-->
    <!--<i class="material-icons prefix"> {{icon}} </i>-->
    <!--<textarea mz-textarea-->
              <!--[label]="label"-->
              <!--[id]="id"-->
              <!--[formControl]="control"-->
              <!--#field-->
              <!--placeholder="Enter your comment"-->
              <!--[length]="length">-->
        <!--</textarea>-->
<!--</mz-textarea-container>-->
<ng-template #inputTemplate>
    <mz-input-container>
        <!--<i mz-icon-mdi mz-input-prefix-->
           <!--[icon]="'mail'">-->
        <!--</i>-->
        <!--[dataError]="'Email is invalid'"-->
        <!--[dataSuccess]="'Email is valid'"-->
        <!--[length]="150"-->

        <input mz-input mz-validation
               [label]="label"
               [id]="id"
               #field
               [formControl]="control"
               [validate]="true"
               [errorMessageResource]="errorMessages?.input"
               [type]="type">
    </mz-input-container>
</ng-template>

<lt-error [control]="control" *ngIf="control?.value?.length > 0 || field?.classList.contains('ng-dirty')"></lt-error>
