<mz-modal #modal id="modal">
    <mz-modal-content>
    <blockquote>
        <h5>На email будет выслана  ссылка для восcтановления пароля</h5>
    </blockquote>
    <form [formGroup]="resetPasswordForm" (submit)="submit($event, resetPasswordForm)">
        <div class="row">
            <div class="col m6 s10 offset-m3 offset-s1">
                <!--<lt-input label="Email"-->
                          <!--type="email"-->
                          <!--[control]="resetPasswordForm.get('email')"></lt-input>-->

                <mz-input-container>
                    <input mz-input mz-validation
                           id="confirmEmail"
                           formControlName="email"
                           type="email"
                           (change)="change(resetPasswordForm.get('email').errors)"
                           [errorMessageResource]="errorMessages"
                           [label]="'Email'" />
                </mz-input-container>
            </div>
            <div class="col s12 submit">
                <button type="submit"
                        [disabled]="resetPasswordForm.invalid"
                        class="modal-action modal-close waves-effect waves-light btn">
                    Сменить пароль
                </button>
            </div>
        </div>
    </form>
    </mz-modal-content>
</mz-modal>