@import '../styles/variables';

html, body{
  height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
}

.main-content {
  margin-top: 97px;
}

.circle {
  border-radius: 50%;
}

.user-block .dropdown-content a {
  color: $black;
}

.confirm-alert {
  display: none;
}

.temporary-notification {
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}

blockquote {
  border-left: 5px solid $brand-main-color;
}

a, button {
  cursor: pointer;
}

a {
  color: $brand-main-color;
}

/*fix bootstrap breakpoint style*/
@media (max-width: 1200px) and (min-width: 993px) {
  .menu .btn-flat {
    padding: 0 1.6em;
  }
}