<p *ngIf="news?.message?.content_object?.isPollOpen;else pollClosed">
    Голосование открыто
    <b>до {{ news?.message?.content_object?.formatPollEndDate }}</b>
    включительно.
</p>
<ng-template class="text-bold" #pollClosed>
    <br>
    <b>Голосование закрыто.</b>
</ng-template>

<h5 class="center"
    *ngIf="news?.my_vote && news?.message.content_object.poll_type === TYPES.CLOSED">
    Я проголосовал за ответ: "{{ news?.my_vote }}"
</h5>

<lt-progress-bar [news]="news" [TYPES]="TYPES"></lt-progress-bar>

<br>

<a class="not-answered"
   *ngIf="canDisplayNotAnswered()"
   (click)="getWhoNotVote(news?.message?.id)">
        <i class="fa fa-eye" aria-hidden="true"></i>
        Просмотр не проголосовавших людей
</a>
