
textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}

.send-comment {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-top: 25px;
  button {
    margin-bottom: 27px;
  }
}