<form class="send-comment"
      [formGroup]="commentForm"
      (submit)="submit($event, commentForm)">
    <!--<lt-input class="col s11 textarea-with-icon"-->
              <!--[isTextarea]="true"-->
              <!--icon="mode_edit"-->
              <!--[control]="commentForm.get('text')"-->
              <!--length="500"-->
              <!--label="Текст комментария"></lt-input>-->

    <mz-textarea-container class="col s11 textarea-with-icon">
        <i class="material-icons prefix"> mode_edit </i>
        <textarea mz-textarea mz-validation
               id="text"
               formControlName="text"
               type="email"
               length="500"
               [errorMessageResource]="errorMessages"
               [label]="'Текст комментария'" >
        </textarea>
    </mz-textarea-container>

    <button class="col s1 waves-effect waves-light btn"
            type="submit"
            name="button">
        <i class="material-icons">send</i>
    </button>
</form>
