<lt-header></lt-header>

<div class="main-content">
    <div class="container">
        <div class="row flex-news">
            <div class="col s12 m12 l9 events">
                <lt-search-bar class="col s12" (onChangeSearchFilter)="changeFilters($event)"></lt-search-bar>

                <lt-loader *ngIf="isVisibleLoader"></lt-loader>

                <lt-news-list class="col s12 events-list" [news]="news"></lt-news-list>

                <a *ngIf="filters.page && news?.length > 0"
                   (click)="getNews(true)"
                   class="waves-effect waves-light green btn col s12 m4 l4 offset-m4
            offset-l4 more-btn">
                    Ещё
                </a>
            </div>
            <!--ng-if="$ctrl.birthdays.length > 0"-->
            <lt-birthday-week class="col s12 m12 l3 b-week"></lt-birthday-week>

            <lt-new-msg-count (updateNewsEmit)="updateNewsList()"
                              *ngIf="newMessagesCount > 0"
                              [messagesCount]="newMessagesCount">
            </lt-new-msg-count>

            <lt-add-post-btn></lt-add-post-btn>
        </div>
    </div>
</div>