@import '~sass-mediaqueries/_media-queries';

@import '../../styles/variables';
@import '../../styles/mixins';

.flex-news {
  display: flex;
}

.birthdays,
.control-buttons,
.events,
.search {
  float: left;
  width: 100%;
}

.control-buttons {
  .list-view,
  .show-favorit,
  .toggle-search {
    @include btn;
    background-color: $secondary-color;
    float: right;
    margin-left: 15px;

    &.open {
      background-color: $primary-color;
    }
  }
}

.search-or-menu {
  .search {
    height: 53px;
    @media only screen and (max-width: 992px) {
      width: calc(100% - 100px);
      display: block;
    }

    i {
      width: 30px;
      float: left;
      padding-top: 10px;
      color: $dark-gray;
      font-size: 1.5em;
    }

    .material {
      input[name="search"] {
        margin-bottom: 0;
      }
    }

    ul {
      padding: 0;
      margin: 0 0 0 3rem;
      list-style: none;
      white-space: nowrap;
      float: left;

      li {
        display: inline-block;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .mobile-control-buttons {
    width: 90px;
    float: right;

    .list-view,
    .show-favorit {
      @include btn;
      background-color: $secondary-color;
      float: left;
      margin-left: 5px;

      &.open {
        background-color: $primary-color;
      }
    }
  }
}

.more-btn {
  margin-bottom: 20px;
}

.mobile-birthday {
  b.mb-card-title {
    margin: 10px 0 5px;
  }
}

@media only screen and (max-width: $middle-bs-width) {
  .flex-news {
    flex-direction: column;

    .events {
      order: 2;
    }

    .b-week {
      order: 1;
    }
  }
}

// small screen fix
@media only screen and (max-width: $mobile-width) {
  .event-title {
    display: none;
  }
  .event-ico {
    width: 40px!important;
    padding-left: 10px!important;
  }
  .event-date {
    padding: 10px 0 5px!important;
    width: 95px!important;
  }
  .event-controls {
    width: 110px!important;
  }
  .event-content {
    margin-left: 10px!important;
    width: calc(100% - 15px)!important;
  }
}


@keyframes wipe-out {
  0% {
    height: 300px;
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}


.event-content {
  .badge {
    z-index: 2;
  }
}

