
<mz-modal #modal id="modal">
    <mz-modal-content>

        <lt-loader *ngIf="!users; else userListTemplate"></lt-loader>

        <ng-template #userListTemplate>
            <h4 class="center">
               {{ title }}
            </h4>


            <!--TODO: add link to profile page-->
            <p class="voted_users">
                <a *ngFor="let user of users">
                    <lt-lazy-img [image]="user.photo_thumbnail"
                                 styleClass="popup-responsive-img"
                                 [alt]="user.first_name"
                                 mz-tooltip
                                 [position]="bottom"
                                 [delay]="50"
                                 [tooltip]="user.fullName">
                    </lt-lazy-img>
                </a>
            </p>
        </ng-template>
    </mz-modal-content>
</mz-modal>