<form [formGroup]="advertForm"
      (submit)="submit($event, advertForm)">

    <h5 class="center"> Объявление </h5>

    <div class="row">
        <mz-input-container class="col s12 input-with-icon">
            <i class="material-icons prefix">mode_edit</i>
            <input mz-input
                   mz-validation
                   id="title"
                   formControlName="title"
                   type="text"
                   [errorMessageResource]="errorMessages"
                   label="Заголовок">
        </mz-input-container>

        <mz-textarea-container class="col s12 textarea-with-icon">
            <i class="material-icons prefix">message</i>
            <textarea mz-textarea
                      mz-validation
                      id="text"
                      label="Текст сообщения"
                      formControlName="text"
                      [errorMessageResource]="errorMessages"
                      length="3000">
            </textarea>
        </mz-textarea-container>

        <mz-switch-container class="col s12 l3">
          <input mz-switch
            id="important-switch"
            formControlName="is_important"
            on="Важное"
            type="checkbox">
        </mz-switch-container>

        <lt-datepicker class="datepicker-container col s12 l2"
                       *ngIf="advertForm.get('is_important').value"
                       [label]="'До'"
                       closeBtnText="Выбрать"
                       [control]="advertForm.get('relevance_dt')" >
        </lt-datepicker>
    </div>


    <!--<div ng-if="$ctrl.message_type === 'advert'">-->
        <!--<div class="switch col s12 l3">-->
            <!--<label>-->
                <!--<input type="checkbox"-->
                       <!--ng-model="$ctrl.message.is_important">-->
                <!--<span class="lever"></span>-->
                <!--Важное-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="input-field datetime col s12 l2" ng-if="$ctrl.message.is_important">-->
            <!--<input input-date-->
                   <!--type="text"-->
                   <!--id="relevance_dt"-->
                   <!--name="relevance_dt"-->
                   <!--format="dd-mm-yyyy"-->
                   <!--select-years="15"-->
                   <!--first-day="1"-->
                   <!--today="false"-->
                   <!--close="$ctrl.calendar_config.close"-->
                   <!--clear="false"-->
                   <!--class="pointer"-->
                   <!--min="{{ $ctrl.calendar_config.minDate }}"-->
                   <!--max="{{ $ctrl.calendar_config.maxDate }}"-->
                   <!--months-full="{{ $ctrl.calendar_config.month }}"-->
                   <!--months-short="{{ $ctrl.calendar_config.monthShort }}"-->
                   <!--weekdays-full="{{ $ctrl.calendar_config.weekdaysFull }}"-->
                   <!--weekdays-letter="{{ $ctrl.calendar_config.weekdaysLetter }}"-->
                   <!--on-start="$ctrl.calendar_config.onStart()"-->
                   <!--ng-change="$ctrl.clearServerError()"-->
                   <!--ng-model="$ctrl.message.relevance_dt"-->
                   <!--on-close="$ctrl.calendar_config.onClose()"-->
                   <!--required/>-->
            <!--<label for="relevance_dt" class="pointer"-->
                   <!--data-error="{{[messageForm.relevance_dt.$error,-->
<!--$ctrl.serverError] | vErrorFilter:['relevance_dt',-->
<!--'required']}}">-->
                <!--до-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="poll-content" ng-if="$ctrl.message_type === 'poll'">-->
        <!--<div class="input-field datetime">-->
            <!--<label for="poll_open_date">Голосование открыто до</label>-->
            <!--<input input-date-->
                   <!--type="text"-->
                   <!--id="poll_open_date"-->
                   <!--name="date_time"-->
                   <!--format="dd-mm-yyyy"-->
                   <!--first-day="1"-->
                   <!--select-years="15"-->
                   <!--today="false"-->
                   <!--close="$ctrl.calendar_config.close"-->
                   <!--clear="false"-->
                   <!--min="{{ $ctrl.calendar_config.minDate }}"-->
                   <!--max="{{ $ctrl.calendar_config.maxDate }}"-->
                   <!--months-full="{{ $ctrl.calendar_config.month }}"-->
                   <!--months-short="{{ $ctrl.calendar_config.monthShort }}"-->
                   <!--weekdays-full="{{ $ctrl.calendar_config.weekdaysFull }}"-->
                   <!--weekdays-letter="{{ $ctrl.calendar_config.weekdaysLetter }}"-->
                   <!--on-start="$ctrl.calendar_config.onStart()"-->
                   <!--ng-change="$ctrl.clearServerError()"-->
                   <!--ng-model="$ctrl.pollEndDate"-->
                   <!--on-close="$ctrl.calendar_config.onClose()"-->
                   <!--required/>-->
        <!--</div>-->

        <!--<h6 class="poll-header"><b>Тип опроса</b></h6>-->
        <!--<div class="poll-type switch">-->
            <!--<label>-->
<!--<span ng-class="{ 'green-text': !$ctrl.message.poll_type }">-->
<!--Публичный-->
<!--</span>-->
                <!--<input type="checkbox"-->
                       <!--ng-model="$ctrl.message.poll_type">-->
                <!--<span class="lever"></span>-->
                <!--<span ng-class="{ 'green-text': $ctrl.message.poll_type }">-->
<!--Приватный-->
<!--</span>-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="private-poll-type" ng-if="$ctrl.message.poll_type">-->
            <!--<input type="checkbox"-->
                   <!--id="closedPoll"-->
                   <!--ng-model="$ctrl.poll_type"/>-->
            <!--<label for="closedPoll">Не отображать результаты</label>-->
        <!--</div>-->
        <!--<h6 class="poll-header"><b>Добавить ответы</b></h6>-->
        <!--<div input-field class="input-field col s11 l5">-->
            <!--<input type="text"-->
                   <!--name="poll"-->
                   <!--length="100"-->
                   <!--ng-change="$ctrl.clearServerError()"-->
                   <!--error-message="$ctrl.serverError"-->
                   <!--press-enter="$ctrl.addAnswer($ctrl.poll)"-->
                   <!--id="poll-variable"-->
                   <!--ng-model="$ctrl.poll"-->
                   <!--ng-maxlength="100"-->
                   <!--ng-minlength="1">-->
            <!--<label for="poll-variable"-->
                   <!--data-error="{{[messageForm.poll.$error, $ctrl.serverError]-->
<!--| vErrorFilter:-->
<!--['poll', 'minlength', 'maxlength', 'required']}}">-->
                <!--Ответ-->
            <!--</label>-->
        <!--</div>-->
        <!--<i ng-click="$ctrl.addAnswer($ctrl.poll)"-->
           <!--ng-disabled="messageForm.poll.$error"-->
           <!--class="material-icons add-answer-botton col s1 l1">add</i>-->
        <!--<ul class="collection with-header col s12 l6">-->
            <!--<li class="collection-header"><h6>Варианты ответов</h6></li>-->
            <!--<li ng-if="$ctrl.answers.length === 0"-->
                <!--class="collection-item">Добавьте ответы-->
            <!--</li>-->
            <!--<li class="collection-item"-->
                <!--ng-repeat="answer in $ctrl.answers track by $index">-->
                <!--{{answer}}-->
                <!--<a ng-click="$ctrl.removeAnswer($event, this)"-->
                   <!--class="secondary-content">-->
                    <!--<i class="material-icons">remove</i>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--<div class="poll-content" ng-if="$ctrl.message_type === 'event'">-->


        <!--<div class="row">-->
            <!--<div class="input-field col s6">-->
                <!--<label for="location_url">-->
                    <!--Ссылка на карту-->
                <!--</label>-->
                <!--<input id="location_url"-->
                       <!--type="text"-->
                       <!--ng-pattern="$ctrl.emailRegex"-->
                       <!--ng-change="$ctrl.clearServerError()"-->
                       <!--ng-maxlength="1000"-->
                       <!--ng-model="$ctrl.message.location_url"-->
                       <!--name="location_url">-->
                <!--<div class="input-error"-->
                     <!--role="alert"-->
                     <!--ng-messages="messageForm.location_url.$error"-->
                     <!--ng-if="messageForm.location_url.$error && messageForm.location_url.$dirty">-->
                    <!--<div ng-message="pattern">Неверный формат URL</div>-->
                    <!--<div ng-message="maxlength">Максимально допустимая длина - 1000 симв.</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="input-field col s6">-->
                <!--<i class="material-icons prefix">location</i>-->
                <!--<input type="text"-->
                       <!--name="location"-->
                       <!--id="location"-->
                       <!--ng-change="$ctrl.clearServerError()"-->
                       <!--ng-model="$ctrl.message.location"-->
                       <!--error-message="$ctrl.serverError"-->
                       <!--ng-minlength="3"-->
                       <!--required>-->
                <!--<label for="location"-->
                       <!--data-error="{{[messageForm.location.$error, $ctrl.serverError]-->
<!--| vErrorFilter:['location', 'minlength', 'required']}}">-->
                    <!--Место проведения-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
            <!--<div class="input-field datetime col s4">-->
                <!--<input input-date-->
                       <!--type="text"-->
                       <!--id="date_time"-->
                       <!--name="date_time"-->
                       <!--format="dd-mm-yyyy"-->
                       <!--first-day="1"-->
                       <!--select-years="15"-->
                       <!--today="false"-->
                       <!--close="$ctrl.calendar_config.close"-->
                       <!--clear="false"-->
                       <!--min="{{ $ctrl.calendar_config.minDate }}"-->
                       <!--max="{{ $ctrl.calendar_config.maxDate }}"-->
                       <!--months-full="{{ $ctrl.calendar_config.month }}"-->
                       <!--months-short="{{ $ctrl.calendar_config.monthShort }}"-->
                       <!--weekdays-full="{{ $ctrl.calendar_config.weekdaysFull }}"-->
                       <!--weekdays-letter="{{ $ctrl.calendar_config.weekdaysLetter }}"-->
                       <!--on-start="$ctrl.calendar_config.onStart()"-->
                       <!--ng-change="$ctrl.clearServerError(); $ctrl.timeValidate();"-->
                       <!--ng-model="$ctrl.date_time.date"-->
                       <!--on-close="$ctrl.calendar_config.onClose()"-->
                       <!--required/>-->
                <!--<label for="date_time"-->
                       <!--data-error="{{[messageForm.date_time.$error, $ctrl.serverError]-->
<!--| vErrorFilter:['date_time', 'required']}}">-->
                    <!--Когда-->
                <!--</label>-->
            <!--</div>-->

            <!--<div class="input-field datetime col s4 full-width-label">-->
                <!--<input id="input_starttime"-->
                       <!--input-clock-->
                       <!--data-twelvehour="false"-->
                       <!--data-donetext="Выбрать"-->
                       <!--data-autoclose="true"-->
                       <!--ng-model="$ctrl.date_time.time"-->
                       <!--type="text"-->
                       <!--ng-change="$ctrl.timeValidate()"-->
                       <!--ng-class="$ctrl.timeInvalid ? 'invalid' : ''"-->
                       <!--ng-disabled="!$ctrl.date_time.date"-->
                       <!--required>-->
                <!--<label for="input_starttime" data-error="Слишком рано">Во сколько</label>-->
            <!--</div>-->
            <!--<div class="input-field datetime col s4">-->
                <!--<label for="event_end_date">Голосование открыто до</label>-->
                <!--<input input-date-->
                       <!--type="text"-->
                       <!--id="event_end_date"-->
                       <!--name="date_time"-->
                       <!--format="dd-mm-yyyy"-->
                       <!--first-day="1"-->
                       <!--select-years="15"-->
                       <!--today="false"-->
                       <!--close="$ctrl.calendar_config.close"-->
                       <!--clear="false"-->
                       <!--min="{{ $ctrl.calendar_config.minDate }}"-->
                       <!--max="{{ $ctrl.calendar_config.maxDate }}"-->
                       <!--months-full="{{ $ctrl.calendar_config.month }}"-->
                       <!--months-short="{{ $ctrl.calendar_config.monthShort }}"-->
                       <!--weekdays-full="{{ $ctrl.calendar_config.weekdaysFull }}"-->
                       <!--weekdays-letter="{{ $ctrl.calendar_config.weekdaysLetter }}"-->
                       <!--on-start="$ctrl.calendar_config.onStart()"-->
                       <!--ng-change="$ctrl.clearServerError()"-->
                       <!--ng-model="$ctrl.eventEndDate"-->
                       <!--on-close="$ctrl.calendar_config.onClose()"-->
                       <!--required/>-->
            <!--</div>-->
        <!--</div>-->


    <!--</div>-->
    <div class="row white-space"></div>
    <button [disabled]="advertForm.invalid"
            class="col s12 l4 offset-l9 btn right"
            type="submit">
        Отправить
        <i class="material-icons right">send</i>
    </button>
</form>