<lt-header></lt-header>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="auth card horizontal col l6 m8 s12 offset-l3 offset-m2 offset-s0">
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <mz-tab [fixedTabWidth]="'true'"
                                        [responsiveThreshold]="'true'">
                                    <mz-tab-item [label]="'Регистрация'" >
                                        <lt-sign-up class="col s12 tab-content"></lt-sign-up>
                                    </mz-tab-item>
                                    <mz-tab-item [label]="'Логин'"
                                                 [active]="true" >
                                        <lt-sign-in class="col s12 tab-content"></lt-sign-in>
                                    </mz-tab-item>
                                </mz-tab>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>