<form [formGroup]="signInForm" (submit)="submit($event, signInForm)">
    <section class="auth-login">
        <!--<lt-input label="Email"-->
                  <!--type="email"-->
                  <!--[control]="signInForm.get('email')"></lt-input>-->
        <!--<lt-input type="password"-->
                  <!--label="Пароль"-->
                  <!--[control]="signInForm.get('password')" >-->
        <!--</lt-input>-->

        <mz-input-container>
            <input mz-input mz-validation
                   id="email"
                   formControlName="email"
                   type="email"
                   [errorMessageResource]="errorMessages"
                   [label]="'Email'" />
        </mz-input-container>

        <mz-input-container>
            <input mz-input mz-validation
                   id="password"
                   formControlName="password"
                   type="password"
                   [errorMessageResource]="errorMessages"
                   [label]="'Пароль'" />
        </mz-input-container>

        <div class="confirm">
            <a (click)="openModal()">Восcтановить пароль</a>
        </div>
        <div class="col s12 submit">
            <button type="submit"
                    class="waves-effect waves-light btn">
                Войти
                <i class="fa fa-3x fa-sign-in" aria-hidden="true"></i>
            </button>
        </div>
    </section>
</form>
