@import '../../../styles/variables';

.poor-list li {
  font-size: 16px;

  &::before {
    content: '- '; // '\2014 '
  }
}

.pdv-30 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.pillow {
  height: 15em;
}

.arrows-on-sides {
  background-image: url('../../../assets/img/arrows-left.png'),
  url('../../../assets/img/arrows-right.png');
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-color: $primary-color;
}

.large-p {
  font-size: 16px;
  padding: .3em 0;
}

.two-column-content {
  display: flex;
  color: #fff;
  padding: 3.5em 0 3em;
}


.column {
  width: 50%;

  &:first-child {
    border-right: 2px solid rgba(255,255,255, .4);
  }
}

.text-box {
  position: relative;
  min-height: 20em;
  display: flex;
  align-items: flex-end;
  margin-bottom: 4em;

  &-content {
    width: 100%;
  }

}


.bg-int {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20em;
  line-height: 1.05em;
  width: 100%;
  // bottom: 0;
  right: 0;
  font-weight: 600;
  opacity: .1;

  &.bg-int-1 {
    top: -85px;
  }
  &.bg-int-2 {
    top: -110px;
  }
  &.bg-int-3 {
    top: -55px;
  }
  &.bg-int-4 {
    top: -20px;
  }
}

.clamped {
  max-width: 54em;
}


.content-h4 {
  font-size: 1.7em;
  text-transform: uppercase;
  word-wrap: break-word;
}

.content-h3 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;

  &.head-h3 {
    color: #000;
  }
}

.column-right {
  padding-left: 3em;
}

.column-left {
  padding-right: 3em;
}

.middle-block {
}

.top-block {
  padding: 1.75em 0 4em;
}

.block-bottom {
  padding-top: 2.5em;
}


@media all and (max-width: 768px) {
  .two-column-content {
    flex-wrap: wrap;
  }
  .column {
    width: 100%;

    &:first-child {
      border-right: none;
    }
  }
  .column-left, .column-right {
    padding: 0 1em;
  }
  .text-box {
    min-height: 0;
  }
  .pillow {
    display: none;
  }
  .bg-int {
    display: none;
  }
  .arrows-on-sides {
    background-image: none;
  }

}
