<lt-header></lt-header>

<div class="main-content">
    <div class="container clamped center top-block">
        <h3 class="content-h3 head-h3">Миссия, цели и ценности</h3>
        <p class="large-p"><span class="brand-blue text-bold">Миссия</span> — предоставлять услуги высочайшего качества в области разработки программного
            обеспечения, которые помогают нашим клиентам по всему миру достигать своих целей.</p>
        <p class="large-p">Мы уверены в собственных силах и готовы к реализации самых сложных проектов.
            Эта уверенность основана на наших возможностях и реальных достижениях,
            что позволяет нам брать на себя серьезные обязательства,
            нести ответственность за результат и всегда оставаться победителем.</p>

        <p class="large-p"><span class="brand-blue text-bold">Цель</span> — cтать глобальной компанией на рынке разработки программного обеспечения.</p>
    </div>

    <div class="pdv-30 middle-block arrows-on-sides">
        <h4 class="content-h3 center">Ценности</h4>

        <div class="container clamped two-column-content">
            <!-- column -->
            <div class="column column-left">
                <div class="text-box">
                    <div class="text-box-content">
                        <h4 class="content-h4">Люди</h4>
                        <ul class="poor-list">
                            <li>уважение личности</li>
                            <li>порядочность</li>
                            <li>стремление к совершенству</li>
                            <li>преданность компании</li>
                            <li>наставничество</li>
                            <li>взаимная помощь</li>
                            <li>умение слушать и слышать друг друга</li>
                            <li>брать пример с лидеров</li>
                            <li>нести ответственность за результат</li>
                        </ul>
                        <div class="bg-int bg-int-1">1</div>
                    </div>
                </div>

                <div class="text-box">
                    <div class="text-box-content">
                        <h4 class="content-h4">Развитие</h4>
                        <ul class="poor-list">
                            <li>всестороннее развитие личности</li>
                            <li>постоянный профессиональный рост</li>
                            <li>участие в интересных проектах</li>
                            <li>постоянный драйв</li>
                            <li>самообучение и самоотдача</li>
                            <li>карьерный рост (вертикальный и горизонтальный) внутри компании</li>
                            <li>право на принятие решения</li>
                        </ul>
                        <div class="bg-int bg-int-3">3</div>
                    </div>
                </div>
            </div>

            <!-- column -->
            <div class="column column-right">

                <div class="pillow"></div>

                <div class="text-box">
                    <div class="text-box-content">
                        <h4 class="content-h4">Честность и открытость</h4>
                        <ul class="poor-list">
                            <li>стабильность</li>
                            <li>комфортные условия</li>
                            <li>достойный уровень зарплаты</li>
                            <li>вознаграждение за инновации</li>
                            <li>выполнение взятых на себя обязательств</li>
                            <li>отсутствие коммуникационных преград</li>
                            <li>репутация компании</li>
                            <li>долгосрочное и взаимовыгодное партнерство</li>
                            <li>социальная ответственность компании</li>
                        </ul>
                        <div class="bg-int bg-int-2">2</div>
                    </div>
                </div>

                <div class="text-box">
                    <div class="text-box-content">
                        <h4 class="content-h4">Клиентоориентированность</h4>
                        <ul class="poor-list">
                            <li>внимание</li>
                            <li>взаимодействие</li>
                            <li>партнерство</li>
                            <li>результат на качество, а не прибыль</li>
                        </ul>
                        <div class="bg-int bg-int-4">4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container clamped center block-bottom">
    <p class="large-p"><span class="brand-blue text-bold">Мы</span> – динамично развивающаяся украинская компания, которая объединяет всех сотрудников компании в единую команду, в которой высоко ценятся компетентность, ответственность, эффективность и готовность к самоотдаче.</p>
    <p class="large-p"><b>На этой основе и ценностях мы строим видение воплощения нашей миссии.</b></p>
</div>
