<div class="menu hide-on-med-and-down">
    <div class="navigation">

        <a class="dropdown-button btn-flat" id="company" href="#"> О компании</a>
        <mz-dropdown
                [id]="'dropdownCompany'"
                [dropdownButtonId]="'company'"
                [hover]="true"
                [stopPropagation]="true">
            <mz-dropdown-item><a routerLink="/about-company/mission">Цель и миссия</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/about-company/inform">Информация для новичка</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/about-company/dev-codex">Кодекс разработчика</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/about-company/rules">Правила</a></mz-dropdown-item>
        </mz-dropdown>

        <a class="dropdown-button btn-flat" id="staff" href="#"> Сотрудники </a>
        <mz-dropdown
                [id]="'dropdownStaff'"
                [dropdownButtonId]="'staff'"
                [hover]="true"
                [stopPropagation]="true">
            <mz-dropdown-item><a routerLink="/employees">Сотрудники</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/birthday">Дни рождения</a></mz-dropdown-item>
            <mz-dropdown-item>
                <a href="http://locator.light-it.loc/" target="_blank">
                    Где кто
                </a>
            </mz-dropdown-item>
        </mz-dropdown>

        <a class="dropdown-button btn-flat" id="mentorship" href="#"> Менторство </a>
        <mz-dropdown
                [id]="'dropdownMentorship'"
                [dropdownButtonId]="'mentorship'"
                [hover]="true"
                [stopPropagation]="true">
            <mz-dropdown-item><a routerLink="/mentoring">Таблица ответственности</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/personal-plan/all-list">Список всех ИПР</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/personal-plan/available">Доступные ИПР</a></mz-dropdown-item>
        </mz-dropdown>

        <div class='dropdown-button btn-flat' routerLink="/gallery">
            Жизнь Light IT
        </div>

    </div>
    <div class="user-block flex-allocate">
        <lt-trust-letter-lbl></lt-trust-letter-lbl>

        <a class="dropdown-button image-wrapper"
           id="user-nav-menu"
           href="#"
           [style.background-image]="'url(' + imgPath + 'cam.png)'"></a>
        <mz-dropdown
                [id]="'dropdownUserNavMenu'"
                [dropdownButtonId]="'user-nav-menu'"
                [constrainWidth]="false"
                [hover]="true"
                [stopPropagation]="true">
            <mz-dropdown-item><a routerLink="/edit-profile">Мой профиль</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/personal-plan/own">Мой ИПР</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/vacations"> Мои отпуска</a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/admin-users-panel"> Админ панель </a></mz-dropdown-item>
            <mz-dropdown-item><a routerLink="/admin-vacations-panel"> Админ панель отпусков </a></mz-dropdown-item>
            <mz-dropdown-divider></mz-dropdown-divider>
            <mz-dropdown-item><a (click)="logOut()">Выйти</a></mz-dropdown-item>
        </mz-dropdown>

    </div>
</div>