@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.menu {
  display: inline-block;
  margin-top: 8px;
  width: 100%;

  .navigation {
    float: left;
    margin-top: 8px;

    .dropdown-button {
      color: $white;
    }
  }
}

.mobile-menu {
  float: right;
  color: #fff;
  border: 0;
  background-color: transparent;
  font-size: 32px;
  padding: 0;
  margin-top: 5px;
  margin-left: 20px;
  outline: none;
}

.user-block {
  position: relative;
  float: right;

  .dropdown-content li > a {
    color: $black!important;
  }

  .dropdown-content {
    width: 150px!important;
  }

  .image-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    float: right;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .header-user-pic {
    &:hover {
      cursor: pointer;
    }
  }

  ul.header-user-menu {
    display: none;
    padding: 0;
    margin: 0;
    width: auto;
    overflow: hidden;
    position: absolute;
    list-style: none;
    white-space: nowrap;
    background-color: #fff;
    right: 50%;
    top: 35px;
    @include shadow;

    &.show {
      display: block;
    }

    li {
      display: inline-block;
      width: 100%;
      padding: 10px 15px;
      float: left;

      a {
        color: $black;
        text-decoration: none;
      }

      &:hover {
        background-color: $white;
      }
    }
  }
}
