<div class="votes"
     *ngFor="let option of news?.message?.options">
    <div class="answer"
         (click)="checkVotePosibility(option)">
        <span class="answer-text">{{option.value}}</span>
        <span class="new badge"
              data-badge-caption="">
              {{option.votes}}
        </span>
        <div class="answer-bg"
             [style.width.%]="option.getPercent(news?.message?.options, option.votes)" >
        </div>
    </div>
    <div class="view-users"
         *ngIf="option.votes > 0 && canDisplayResults()">
        <a class="material-icons center"
           (click)="openVotePeopleModal(option)" >
            visibility
        </a>
    </div>
</div>