@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.votes {
  float: left;
  width: 100%;

  &.view-closed-result {
    .answer {
      &:hover {
        cursor: default;
      }
    }
  }

  &.closed {
    .answer {
      &:hover {
        background-color: $primary-color;
      }
    }
  }

  .answer {
    background-color: $white;
    color: $black;
    float: left;
    height: 30px;
    margin-bottom: 5px;
    padding: 5px 10px;
    position: relative;
    width: 90%;

    &:hover {
      cursor: pointer;
    }

    .answer-text {
      position: absolute;
      z-index: 2;
    }

    .answer-bg {
      position: absolute;
      background-color: $secondary-color;
      top: 0;
      left: 0;
      width: 0;
      height: 30px;
      z-index: 1;
      transition: cubic-bezier(0.36, -0.59, 0.24, 1.36) all .3s;
    }

    .badge {
      background: $primary-color;
      position: relative;
      z-index: 2;
    }
  }
}


.view-users {
  width: 10%;
  float: left;
  position: relative;
  top: 5px;
  padding-left: 5px;

  i {
    &:hover {
      cursor: pointer;
    }
  }
}