@import '~sass-mediaqueries/_media-queries';

@import '../../../styles/variables';
@import '../../../styles/mixins';

.search-filter-query {
  margin-bottom: 20px;
  margin-left: 3rem;
  @include mq($max-width: 600px) {
    margin-left: 0;
  };

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.news-search {
  .prefix {
    left: 0;
  }
  input[type="text"] {
    margin-bottom: 5px;
    float: left;
    width: calc(100% - 6rem);
  }
  .filter-only-favorite {
    label {
      position: static;
      color: $black;
      display: inline-block;
      font-size: 2em;
      cursor: pointer;
      margin: 10px 0 0 15px;
    }
  }
  .clear-input-filter-news {
    position: absolute;
    right: 4rem;
    top: .75rem;
    color: $black;
    background: #fff;
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}
