<div [formGroup]="filterForm">
    <div class="input-field news-search">
        <i class="fa fa-search prefix" aria-hidden="true"></i>
        <input formControlName="search"
               type="text" />
        <a class="clear-input-filter-news"
           (click)="clearSearch()"
           *ngIf="filterForm.get('search').value !== null">
            <i class="material-icons clear-input">clear</i>
        </a>

        <span class="filter-only-favorite">
            <label for="favorite"
                   class="fa fa-2x"
                   [ngClass]="filterForm.get('favorite').value !== false ? 'fa-star' : 'fa-star-o'"
                   aria-hidden="true">
            </label>
            <input type="checkbox"
                   formControlName="favorite"
                   id="favorite"/>
        </span>
    </div>
    <div class="search-filter-query">
        <ul>
            <li>
                <input type="checkbox"
                       id="advert"
                       formControlName="advert"/>
                <label for="advert">объявления</label>
            </li>
            <li>
                <input type="checkbox"
                       id="poll"
                       formControlName="poll" />
                <label for="poll">опросы</label>
            </li>
            <li>
                <input type="checkbox"
                       id="event"
                       formControlName="event" />
                <label for="event">события</label>
            </li>
        </ul>
    </div>
</div>